.achives__wrapper {
  background: var(--color-black);
  border: 1px solid rgba(51, 85, 51, 0.333);
  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;

  transform-style: preserve-3d;
  user-select: none;
  padding: 0 25px;
  padding-bottom: 20px;

  @media (max-width: 450px) {
    border: none;
    border-radius: 0;
    overflow-y: auto !important;
  }
}

.achives__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;

  button {
    width: 40px;
    height: 40px;
    position: relative;
    background: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;

      background: var(--color-white);

      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;
      height: 2px;

      background: var(--color-white);

      transform: rotate(-45deg);
    }
  }
}

.achives__wrapper {
  ul {
    width: 100%;
    margin-top: 20px;

    padding-right: 20px;

    li {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      margin-top: 20px;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h3 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
          opacity: 0.7;
        }
      }
    }

    @media (max-width: 430px) {
      margin-bottom: 90px;
    }
  }
}

.achives__container {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 30px;
  margin-top: 20px;
  overflow-y: auto;
}
