.game__wrapper {
  background: var(--color-black);
  border: 1px solid rgba(51, 85, 51, 0.333);
  border-radius: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;

  transform-style: preserve-3d;
  user-select: none;

  @media (max-width: 450px) {
    border: none;
    border-radius: 0;
    overflow-y: auto !important;
  }
}

.swipe {
  will-change: transform, opacity;
}

.game__container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;

  img {
    width: 300px;
    border-radius: 15px;

    @media (max-width: 450px) {
      width: 110%;
    }

    // @media (max-width: 450px) and (max-height: 740px) {
    //   height: 350px;
    //   object-fit: cover;
    // }
  }

  @media (max-width: 450px) {
    width: 100%;
    margin-left: -15px;
  }
}

.card__wrapper {
  position: absolute;
}

.game__cards__container {
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;

    left: 100%;
    margin-top: 150px;

    width: 100%;
    height: 100px;

    opacity: 0.7;
    background: var(--color-red);
    filter: blur(100px);

    z-index: -2;
  }

  // &::after {
  //   content: "";
  //   position: absolute;

  //   left: 10%;
  //   margin-top: 150px;

  //   width: 100%;
  //   height: 100px;

  //   opacity: 0.7;
  //   background: var(--color-yellow);
  //   filter: blur(100px);

  //   z-index: -2;
  // }
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotateImage {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  25% {
    transform: translateX(40px) rotate(3deg);
  }

  50% {
    transform: translateX(0px) rotate(0deg);
  }

  75% {
    transform: translateX(-40px) rotate(-3deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.card {
  position: absolute;
  transition: transform 0.3s ease-out;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  touch-action: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 15px;

    @media (max-width: 450px) {
      width: 80%;
      margin-top: 10px;
      height: auto;
    }
  }
}

.card__animate {
  animation-name: rotateImage !important;
  animation-duration: 2s !important;
}

.card.swiping {
  pointer-events: none;
}

.card {
  position: relative;
  animation-name: opacity1;
  animation-duration: 0.5s;

  h3 {
    position: absolute;
    top: 85%;
    left: 15%;
  }

  &::before {
    content: "";
    position: absolute;

    top: 0%;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    width: 320px;
    height: 420px;

    background: linear-gradient(180deg, rgba(232, 0, 36, 0) 50%, #e80024 100%);

    @media (max-width: 450px) {
      width: 80%;
      height: 100%;
    }
  }
}

// .card__sec {
//   &::before {
//     width: 100%;
//   }
// }

// .card__thrd {
//   &::before {
//     width: 100%;
//   }
// }

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.message > p {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Cera-pro-md", sans-serif;
  font-weight: 500;
}

.message__correct {
  margin-top: 150px;
  .message__container {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -150%;
      z-index: -1;
      width: 100%;
      height: 200%;
      background: url("../../assets/images/cerfity.svg");
      background-position: center;
    }
  }
}

.message__container {
  text-align: center;
  padding: 10px;
  background: var(--color-white);
  border-radius: 20px;
  color: var(--color-black);
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }
}

.message__sec {
  background: red;
}

.message__index {
  &::before {
    content: "";
    position: absolute;

    width: 200px;
    height: 100px;
    top: -50%;
    z-index: -1;
    border-radius: 40%;
    filter: blur(100px);

    background: var(--color-red);
  }

  &::after {
    content: "";
    position: absolute;

    width: 200px;
    height: 100px;
    top: 50%;
    border-radius: 40%;
    filter: blur(100px);

    background: var(--color-yellow);
    z-index: -1;
  }
}

.game__task {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  border-radius: 10px;
  gap: 15px;

  background: rgba(255, 255, 255, 0.1);

  p {
    width: 90%;
    font-size: 12px;
    font-family: "Cera-pro", sans-serif;

    @media (max-width: 360px) {
      font-size: 10px;
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid var(--color-white);

    @media (max-width: 360px) {
      width: 25px;
      height: 25px;
    }
  }

  @media (max-width: 360px) {
    padding: 8px;
  }
}

.game__task__score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;

  ul {
    display: flex;
    gap: 2px;

    li {
      width: 32px;
      height: 4px;
      border-radius: 15px;

      @media (max-width: 420px) {
        width: 25px;
      }
    }
  }
}

@keyframes scaleButton1 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scaleButton2 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.game__cards__nav__animate {
  button {
    &:first-child {
      animation-name: scaleButton1;
      animation-duration: 2s;
    }

    &:last-child {
      animation-name: scaleButton2;
      animation-duration: 2s;
    }
  }
}

.game__cards__nav {
  position: absolute;
  top: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;

  ul {
    display: flex;
    gap: 5px;

    li {
      opacity: 0.25;
      img {
        width: 30px;
        height: 30px;
        object-fit: contain;
      }
    }
  }

  button {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 450px) {
    top: 76%;
    width: 320px;
  }
}

// Final
.game__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;

  h1 {
    padding-right: 10px;
    font-size: 40px;

    @media (max-width: 420px) {
      font-size: 28px;
    }

    @media (max-width: 360px) {
      font-size: 24px;
    }
  }

  div {
    padding-left: 10px;

    font-size: 20px;
    font-family: "Cera-pro-bd", sans-serif;
    font-weight: 700;

    border-left: 1px solid rgba(255, 255, 255, 0.333);

    @media (max-width: 360px) {
      font-size: 16px;
    }
  }
}

.game__final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__final > p {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  text-align: center;
}

.game__final__chosed {
  margin-top: 10px;
  padding: 0 10px;
  margin-bottom: 10px;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    li {
      position: relative;

      img {
        width: 70px;
        height: 90px;
        object-fit: cover;
        border-radius: 10px;

        @media (max-width: 420px) {
          width: 60px;
        }

        @media (max-width: 360px) {
          width: 50px;
          height: 70px;
        }
      }

      &::before {
        content: "";
        position: absolute;

        width: 100%;
        height: 100%;

        background: linear-gradient(
          180deg,
          rgba(232, 0, 36, 0) 50%,
          #e80024 100%
        );
        border-radius: 10px;
        transition: all 0.2s ease;

        animation-name: opacity1;
        animation-duration: 0.5s;
      }
    }

    @media (max-width: 420px) {
      gap: 10px;
    }
  }
}

.game__banner {
  margin: 0 10px;
  padding: 10px;
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 10px;
  margin-top: 0px;
  text-align: center;
  width: 90% !important;

  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    font-family: "Cera-pro-bd", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
}

.game__banner__cupon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 220px;

    font-family: "Cera-pro-bd", sans-serif;
    font-weight: 700;
    font-size: 32px;

    border-radius: 10px;
    color: var(--color-red);

    @media (max-width: 420px) {
      font-size: 24px;
    }
  }
}

.game__banner__link_1 {
  padding: 14px;
  width: 100%;
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 10px;
  font-size: 20px;

  transition: all 0.6s ease;

  &:hover {
    box-shadow: 0px 0px 10px var(--color-red);
  }
}

.game__banner__link_2 {
  background: none;
  border-bottom: 1px solid var(--color-black);
  padding-bottom: 5px;
  width: 180px;
}

.game__banner__link__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;

  img {
    transition: all 0.2s ease;
  }

  &:hover {
    img {
      margin-left: 5px;
    }
  }
}

.game__final > a,
.game__final > button {
  padding: 12px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #161616;
  border-radius: 10px;
  width: 90%;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: var(--color-white);
}

.game__final > p:last-child {
  font-size: 10px;
}

.game__cards__correct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin-top: 20px;

  animation-name: opacity1;
  animation-duration: 1s;

  h3 {
    margin-top: 15px;
    font-size: 28px;
    position: relative;

    @media (max-width: 450px) and (max-height: 680px) {
      margin-top: 25px;
      font-size: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 300px;
      height: 300px;
      background: url("../../assets/images/cerfity.svg");
      background-repeat: no-repeat;

      z-index: -1;
      left: -150%;
      top: -250%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100vh;
      height: 300px;
      background: var(--color-yellow);

      z-index: -2;
      left: -300%;
      top: -150%;
      border-radius: 50%;
      opacity: 0.5;
      filter: blur(150px);
    }
  }

  .game__banner {
    width: 100% !important;
    margin-top: 40px;

    @media (max-width: 450px) and (max-height: 680px) {
      margin-top: 25px;
    }
  }

  button {
    padding: 16px;
    width: 120%;
    border: 1px solid var(--color-red);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    background: none;
    color: var(--color-white);
  }

  .game__cards__correct__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    margin-bottom: 40px;

    p {
      font-size: 10px;
      text-align: center;
      color: rgba(255, 255, 255, 0.3);
      margin-top: 5px;
    }

    @media (max-width: 450px) {
      margin-bottom: 90px;
      margin-top: 40px;
    }
  }

  @media (max-width: 450px) {
    height: 80vh;
  }
}

.game__banner_2 {
  h2 {
    font-size: 28px;
  }
}

.game__banner__2 {
  h2 {
    font-size: 32px;
  }
}

.game__achive {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 90%;
  height: 100%;
  margin: 30px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  text-align: center;
}

.game__achive__container {
  background: rgba(246, 246, 246, 0.15);
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  h2 {
    font-size: 50px;
    font-family: "Cera-pro-bd", sans-serif;
    font-weight: 700;
  }

  p {
    font-family: "Cera-pro-md", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}

.game__achive > h4 {
  font-family: "Cera-pro-md", sans-serif;
  font-weight: 500;
  font-size: 14px;

  span {
    color: var(--color-red);
  }
}

.game__achive > p {
  font-size: 12px;
  opacity: 0.7;
}

.game__achive__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  gap: 10px;

  button,
  a {
    padding: 10px 18px;
    border-radius: 5px;
    font-family: "Cera-pro-md", sans-serif;
    font-weight: 500;
    font-size: 15px;

    @media (max-width: 430px) {
      padding: 8px 15px;
      font-size: 14px;
    }
  }

  button {
    background: none;
    color: var(--color-white);
    border: 1px solid var(--color-white);
  }

  a {
    background: var(--color-red);
    color: var(--color-white);
  }

  @media (max-width: 430px) {
    margin-bottom: 30px;
    padding: 8px;
  }
}
