@font-face {
  font-family: "Cera-pro";
  src: local("../assets/fonts/Cera-Pro-Regular.otf"),
    url("../assets/fonts/Cera-Pro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Cera-pro-md";
  src: local("../assets/fonts/Cera-Pro-Medium.otf"),
    url("../assets/fonts/Cera-Pro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Cera-pro-bd";
  src: local("../assets/fonts/Cera-Pro-Bold.otf"),
    url("../assets/fonts/Cera-Pro-Bold.otf") format("opentype");
}
