:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #e80024;
  --color-yellow: #eabd00;

  --gradient-opacity: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
